@import url("./root.css");

body {
	background-image: url("../images/background.png");
	background-position: center;
	background-size: cover;
	font-family: Fredoka;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper>h1 {
	text-align: center;
	margin: 1rem 0;
	font-size: var(--font-size-3xl);
}

.cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.cardsFlow{
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

.soft-box {
	max-width: 100%;
	width: 350px;
	padding: 0.5rem;
	font-size: var(--font-size-md);
}

@media screen and (max-width:750px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
	}
}